@import "tailwindcss";
/* Hide up/down arrows for number inputs (Chrome, Safari, Edge) */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */
